*{
  font-size: 20px;
  font-family: 'Brokman-Regular','Helvetica Neue',Helvetica,sans-serif;
}

.button{
  border: 1px #4e4e4e solid;
  width: 80px;
}

.button:hover{
  background-color: #424297;
  color: white;
  cursor: pointer;
}

label{
  display: inline-block;
  width: 100px;
}

#main{
  margin-top: 20px;
  position: relative;
}

table{
  border-collapse: collapse;
  border: 1px black solid;
  text-align: center;
}

td,th{
  border: 1px #747474 solid;
}

th{
  background-color: #86888a;
}

.c_name{
  width: 100px;
}

.c_phno{
  width: 150px;
}

.c_email{
  width: 250px;
}

.c_address{
  width: 250px;
}

.c_operate{
  width: 100px;
}

.change{
  cursor: pointer;
}

.change:hover{
  color: #545dd7;
  text-decoration: underline;
}

tr:nth-child(even){
  background-color: #ccd0d2;
}

.load_c{
  height: 128px;
  width: 128px;
  background-image: url(../images/loading_icon.gif);
  background-position: left top;
  background-repeat: no-repeat;
  position: absolute;
  left: 400px;
  top:50px;
}
