*{
  font-size: 20px;
  font-family: 'Brokman-Regular','Helvetica Neue',Helvetica,sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

dd,dt{
  display: inline-block;
  margin: 10px 0;
}

dt{
  width: 100px;
  text-align: right;
}

dd{
  margin-left: 30px;
}

button{
  cursor: pointer;
}
#contact_list{
  float: left;
}

#main ul{
  width: 300px;  
}

#main li{
}

#main a{
  display: block;
  border-top:1px #acacac dashed;
  cursor: pointer;
  padding: 5px 0;
}


#main a:hover{
  background-color: #f0efef;
}

#main a.clicked{
  background-color: #37657e;
  color: #c9dfff;
}

.button{
  border: 1px #4e4e4e solid;
  width: 80px;
}

.button:hover{
  background-color: #424297;
  color: white;
  cursor: pointer;
}

#contact_detail{
  float: left;
  margin-left: 50px;
}

.hide{
  visibility: hidden;
}
